.products {
  margin: 17rem 0;

  &__descriptions {
    font-size: 3.2rem;
    color: #353535;
    margin-bottom: 4rem;
  }

  &__list {
    display: grid;
    // grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(384px, 1fr));
    gap: 6rem;
    list-style-type: none;
    margin-bottom: 7rem;

    @media only screen and (max-width: 786px) {
      gap: 2rem;
      grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
      row-gap: 4rem;
    }
  }

  &__img {
    width: 100%;
  }

  &__list-item {
    position: relative;
  }
}

.cost-sale {
  grid-row: 1/2;

  @media only screen and (max-width: 650px) {
    grid-row: 2/3;
  }
}
