.about-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 10rem;
  gap: 5rem;
  margin-bottom: 13.5rem;

  &__img {
    // margin-right: 5rem;
    // max-width: 100%;
    width: 100%;
  }

  &__inner {
    color: #353535;
  }

  &__title {
    font-size: 4rem;
    line-height: 5rem;
    margin-bottom: 4rem;
    font-weight: bold;

    @media only screen and (max-width: 786px) {
      font-size: 3.4rem;
      line-height: 4rem;
    }
  }

  &__subtitle {
    font-size: 2.4rem;
    line-height: 3.5rem;
    max-width: 44rem;
    margin-bottom: 7rem;

    @media only screen and (max-width: 786px) {
      font-size: 2rem;
      line-height: 3rem;
    }
  }
}
